main{
    width: 95%;
    margin: 0 auto;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(34, 34, 34);
}

h1{
    text-align: center;
    font-size: 300%;
}

h2{
    text-align: center;
}
h3{
    text-transform: uppercase;
}
.content{
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 2px;
}
.content p{
    text-align: justify;
}